{% import 'macros.html' as macro %}
{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form>
    <input type="text" name="article_query" placeholder="search for an article" class="form-control">
    <input type="submit" value="search" class="btn btn-defaault" >

  </form>

  <div class="row">
    <div class="sidebar-sticky">
      <nav class="d-none d-md-block sidebar" style="background-color: white;">
        <h1 class="text-muted" style="color: brown;">news sources</h1>
        <hr>
        {{macro.displayNewsSources(sources)}}

      </nav>
    </div>
  </div>

</div>

<div class="col-md-3">
  <h1 class="my-1">wall street journal articles</h1>
  <hr class="my-3">
  {{macro.displayNews(others)}}
</div>
<div class="col-md-3">
  <h1 class="my-1">Top headlines in kenya</h1>
  <hr class="my-3">
  {{macro.displayNews(business_headlines)}}

</div>


{% endblock %}